### Carregando pacotes

In [2]:
import basedosdados as bd
import pandas as pd
from decouple import config

In [2]:
# Protegendo o ID do projeto em arquivo .env:
project_id = config("project_id")

In [3]:
# # Para acessar a lista de datasets disponíveis.
# # Conteúdo foi salvo em arquivo txt na pasta docs.
# # Descomentar célula apenas quando for utilizar:

# bd.list_datasets(with_description=True)

### Tabela completa

In [5]:
df_table = bd.read_table(
    dataset_id="br_capes_bolsas", 
    table_id="mobilidade_internacional",
    billing_project_id=project_id
)
df_table.head(3)

Downloading: 100%|██████████| 146036/146036 [01:23<00:00, 1759.29rows/s]

,ano_inicial,mes_inicial,ano_final,mes_final,id_processo_concessao,cpf,beneficiario,programa_capes,pais_destino,sigla_moeda,...,valor_recebido_diarias,valor_recebido_escola_altos_estudos,valor_recebido_licenca_maternidade,valor_recebido_mensalidade,valor_recebido_mensalidade_agendadas,valor_recebido_mensalidade_demanda,valor_recebido_outros_debitos,valor_recebido_passagem_aerea,valor_recebido_capital,valor_recebido_total
0,2005,9,2010,3,2725-04-5,***.415.018-**,LUIZ FELIPE NASSER CARVALHO,DPE - PROGRAMA DE DOUTORADO PLENO NO EXTERIOR,REINO UNIDO,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2730.0
1,2005,4,2010,3,1898-04-3,***.152.938-**,ÁLVARO PEREIRA COPPIETERS,DAAD,ALEMANHA,EUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1300.0
2,2006,10,2010,9,3158-05-5,***.813.968-**,ANA CRISTINA PEREIRA DAS NEVES,DPE - PROGRAMA DE DOUTORADO PLENO NO EXTERIOR,REINO UNIDO,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8190.0

In [13]:
# # Salvando tabela completa em pickle com compressão para poupar espaço.
# # Descomentar célula apenas quando for utilizar:

# df_table.to_pickle("../data/raw/capes_table.pkl", compression='bz2')

### Tabela filtrada

In [14]:
query_principal = """\
SELECT \
ano_inicial, mes_inicial, ano_final, mes_final, \
id_processo_concessao, programa_capes, pais_destino, \
grande_area_conhecimento, nivel_ensino, uf_instituicao_origem, \
instituicao_ensino_origem, instituicao_ensino_principal, \
valor_recebido_total \
FROM \
`basedosdados.br_capes_bolsas.mobilidade_internacional`\
"""
query_principal

'SELECT ano_inicial, mes_inicial, ano_final, mes_final, id_processo_concessao, programa_capes, pais_destino, grande_area_conhecimento, nivel_ensino, uf_instituicao_origem, instituicao_ensino_origem, instituicao_ensino_principal, valor_recebido_total FROM `basedosdados.br_capes_bolsas.mobilidade_internacional`'

In [11]:
df_query = bd.read_sql(
    query=query_principal,
    billing_project_id=project_id
)
df_query.head(3)

Downloading: 100%|██████████| 146036/146036 [00:22<00:00, 6607.34rows/s]

,ano_inicial,mes_inicial,ano_final,mes_final,id_processo_concessao,programa_capes,pais_destino,grande_area_conhecimento,nivel_ensino,uf_instituicao_origem,instituicao_ensino_origem,instituicao_ensino_principal,valor_recebido_total
0,2005,4,2010,3,1898-04-3,DAAD,ALEMANHA,ENGENHARIAS,DOUTORADO PLENO,SÃO PAULO,INSTITUTO TECNOLÓGICO DE AERONÁUTICA,TECHNISCHE UNIVERSITÄT DARMSTADT,1300.0
1,2005,9,2010,3,2725-04-5,DPE - PROGRAMA DE DOUTORADO PLENO NO EXTERIOR,REINO UNIDO,CIÊNCIAS SOCIAIS APLICADAS,DOUTORADO PLENO,SÃO PAULO,FUNDAÇÃO GETÚLIO VARGAS,UNIVERSITY OF WARWICK,2730.0
2,2006,10,2010,9,3158-05-5,DPE - PROGRAMA DE DOUTORADO PLENO NO EXTERIOR,REINO UNIDO,CIÊNCIAS SOCIAIS APLICADAS,DOUTORADO PLENO,RIO DE JANEIRO,UNIVERSIDADE FEDERAL DO RIO DE JANEIRO,UNIVERSITY OF CAMBRIDGE,8190.0

In [16]:
# # Salvando tabela filtrada em pickle com compressão para poupar espaço.
# # Descomentar célula apenas quando for utilizar:

# df_query.to_pickle("../data/raw/capes_query.pkl", compression='bz2')